shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
node-linker=pnpm

# Package publishing configs
registry=https://registry.npmjs.org/
always-auth=true

# Workspace configs
link-workspace-packages=true
save-workspace-protocol=true