.editor-container {
  border: 1px solid #ccc;
  padding: 10px;
}

.toolbar {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.toolbar button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
}

.toolbar button.active {
  background-color: #ddd;
}

#editor {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 150px;
  outline: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.paragraph-block {
  padding: 2px;
  /* background: #f7f7f7; */
  margin: 1px;
}

#hyperlink-container {
  position: absolute;
  display: none;
  z-index: 1000;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#hyperlink-container-view {
  position: absolute;
  display: none;
  z-index: 1000;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#hyperlink-input {
  width: 200px;
  margin-right: 5px;
}

#apply-hyperlink:hover {
  background: #ccc;
}

#cancel-hyperlink:hover {
  background: #ccc;
}

.temporary-selection-highlight {
  background-color: rgb(67, 111, 201)
    /* Light blue highlight */
}

#fontColor {
  border-bottom: 5px solid #000;
  font-size: larger;
}

#bgColor {
  border-bottom: 5px solid #f7f7f7;
  font-size: larger;
}

#fontColorPicker,
#bgColorPicker {
  border: 0;
  padding: 0;
  margin: 0;
  height: 15px;
  width: 36px;
}

#fontColorWrapper {
  display: block;
}

.toolbar > button:hover {
  background-color: #ddd;
}