.text-igniter {
    width: 80%;
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 20px;
    text-align: left;
    background-color: white;
    color: black;
}

.toolbar {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    flex-wrap: wrap;
    background-color: white;
}

.editor {
    padding: 10px;
    min-height: 400px;
    overflow: auto;
    outline: none;
    border: none;
}


.toolbar button {
    padding: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

button.active {
    background-color: #9ba0a3;
    border: solid #9ba0a3;
    margin: 0.1rem;
}

button {
    margin: 0.1rem;
}